Thumbs.db
*.obj
*.exe
*.pdb
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.cache
*.ilk
*.log
*.dll
*.lib
*.sbr
*.swp
*~
~*
*.diff
*.patch
*.bak
*.iml

.DS_Store
.nojekyll
.project
.ipr
.iws
.settings/
.idea/
.svn/
.sass-cache/

node_modules/
build/

npm-debug.log