//common-color
$white: #FFFFFF;
$orange: #FE9922;
$black: #323232;
$red: #eb333b;
$pink: #ee969a;
$blue:#089fe6;
$gray: #a5a5a5;
$light-black: #333333;
//bg-color
$bg-gray: #EFEFF4;
$bg-black: #191c21;
//border-color
$border-blue: #89b0f9;
$border-gray: #dddddd;





