<!DOCTYPE html>
<html lang="zh">
<head>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
    <meta name="format-detection" content="telephone=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <meta http-equiv="pragma" content="no-cache">
    <meta charset="utf-8">
    <title><%= htmlWebpackPlugin.options.title %></title>
    <link rel="icon" href="http://www.jd.com/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="loading" class="fullLayer bg-white abs-lt">
    <div class="loading abs-mm">
        <div class="spinner abs-mm">
            <div class="spinner-container container1">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container2">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
            <div class="spinner-container container3">
                <div class="circle1"></div>
                <div class="circle2"></div>
                <div class="circle3"></div>
                <div class="circle4"></div>
            </div>
        </div>
    </div>
    <!--<div class="loader abs-mm">
        <div></div>
    </div>-->
</div>
<div class="main-wrap" id="react-cont"></div>

<!-- ---------------------------------基础库--------------------------------------- -->
<script src="//static.360buyimg.com/finance/mobile/base/1.0.0/js/lib/??zepto-1.1.4.js,fastclick.js"></script>
<script src="../js/highstock.js"></script>
</body>
</html>